<!DOCTYPE html>
<html>
  <head>
    <title>That's a 404!</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="hero-unit">
  <h1>404!</h1>
  <p>Cannot find the requested page: "<%-url%>"</p>
  <p>
    <a href="/home" class="btn btn-primary btn-large">Home</a>
  </p>
</div>
  </body>
</html>
