<!DOCTYPE html>
<html>
  <head>
    <title>Bag-Of-Tricks . Home</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
   <% include navbar %>

      <div class="container">

      <div class="hero-unit">
        <h1>Hello surfer!</h1>
        <p>Welcome to Bag-Of-Tricks! Watch out for Mallory's cross-origin tricks of trade.</p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>CSRF</h2>
          <p> Traditional CSRF vectors</p>
          <p><a class="btn btn-primary" href="/csrf">Check now &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Clickjacking</h2>
          <p>Hijacking clicks for fun and profit</p>
          <p><a class="btn btn-primary" href="/clickjacking">Check now &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Cross site timing</h2>
          <p>I know your online presence</p>
          <p><a class="btn btn-primary" href="/timing">Check now &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <div class="row"> 
            <div class="span6"> &copy; Bag-Of-Tricks 2013</div> 
            <div class="span6 website">Developed by: <a href="http://novogeek.com" target="_blank">Krishna Chaitanya T</a></div>
        </div>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
