<!DOCTYPE html>
<html>
  <head>
    <title>That's a 404!</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  </head>
  <body>
    <div class="hero-unit">
  <h1>404!</h1>
  <p><%- _404msg %></p>
  <p>
    <a href="/login" class="btn btn-primary btn-large">Login</a>
  </p>
</div>
  </body>
</html>
